body {
  background-color: #a7adba;
}  

h1 {
  color: white;
  font-family: Helvetica;
}
  
h2 {
  color: white;
  font-family: Helvetica;
}
  
h3 {
  color: white;
  font-family: Helvetica;
}
  
p {
  color: white;
  font-family: Helvetica;
}


